<div class="px-5">
  <h3>Pending Applications:</h3>
  <br>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action clearfix border rounded my-1"
       *ngFor="let application of applications">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ application.username }}</h5>
        <small>{{ application.uid }}</small>
      </div>
      <p class="mb-1">{{ application.hospitalName }} Hospitals Pvt. Ltd.</p>
      <div style="text-align: right">
        <button class="btn btn-success mr-3" (click)="handleApplication(true)">Accept</button>
        <button class="btn btn-danger " (click)="handleApplication(false)">Reject</button>
      </div>
    </a>
  </div>
</div>
